<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body style="padding:10px;">
        <div id="appRoot"></div>
    </body>
</html>
